@font-face {
    font-family: 'Anicons';
    src: url(../fonts/AniconsColorGX.ttf) format('truetype');
}
@font-face {
    font-family: "blackout";
    src: url(../fonts/blackout-master/webfonts/blackout_midnight-webfont.woff) format('woff2');
}
.anicon{
    font-family: anicons;
    font-size: 200%;
    font-variation-settings: 'TIME' 1;
    transition: 1s;
}
.anicon:hover{
    font-variation-settings: 'TIME' 100;
}